/* 
==============================================
CONTENT:	Hansel & Gretel E-book
AUTHOR:		Cassandra Desrosiers & Danny McMillan
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body, html {
	background: #ccc;
}

.test{
	width: 100px;
	height: 100px;
	margin: 20px;
}
section{
	position: relative;
}
.part1{
		background: purple;
		height: 100vh;

	p{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate( -50%, -50%);
	}
	.house{
		width: 400px;
		height: 300px;
		background-color: brown;
		position: absolute;
		margin: 0px;
		top: 30%;

		.house p {
			color: white;
			text-align: center;
		}
	}
	.trees{
		background-color: green;
	}
	.sun{
		background-color: yellow;
		position: absolute;
		left: 75%;
		top: 14%;
		margin: 0px;
		border-radius: 50px;

		.sun_ray1 {
			background-color: yellow;
			width: 150px;
			height: 20px;
			position: absolute;
			left: 80%;
			top: 20%;
			transform: rotate(-10deg);

		}

		.sun_ray2 {
			background-color: yellow;
			width: 150px;
			height: 20px;
			position: absolute;
			left: 80%;
			top: 10%;
			transform: rotate(-10deg);
		}
	}
	.path{
		background-color: gray;
	}
	.hansel{
		background-color: blue;
	}
	.gretel{
		background-color: red;
	}
}

.part2{
	background-color: orange;
	height: 100vh;
}


#test-text {
	position: absolute; 
	top: 20%;
	left: 50%;
}


#test-text.show {
	transform: translateX(-50%);

}

/* 2. Content ================================= */

